@using IdleFactory.Data.Energy
<div class="grid-item @GetClassName()">
	@switch (Item)
	{
		case LaserEmitter _:
			<div class="source"></div>
			break;
		case Mirror mirror:
			@if (mirror.PositiveDirection)
			{
				<div class="mirror mirror-positive" />
			}
			else
			{
				<div class="mirror mirror-negative" />
			}
			break;
		case UnpoweredItem unpoweredItem:
			<div class="fill-amount" style="height:@GetFillPercent(unpoweredItem)%"/>
			<EnergyGridItem Item="unpoweredItem.BuildTarget" />
			break;
		case ProductionBuff productionBuff:
			<div class="type @productionBuff.Type" />
			break;
		case LaserDistanceBuff laserDistanceBuff:
			<div class="line" />
			<div class="distance" />
			break;
	}
</div>