.grid {
	position: relative;
	border: 1px solid black;
	border-radius: 3px;
}

.grid-line {
	background-color: black;
	position:absolute;
}

.grid-column {
	width:1px;
	height:100%;
}

.grid-row {
	height: 1px;
	width: 100%;
}

.laser {
	position: absolute;
	pointer-events: none;
}

.laser-beam {
	background-color: red;
	filter: blur(2px);
	height: 100%;
}

.laser-horizontal {
	height: 5px;
	margin-top: -3px;
}

.laser-vertical {
	width: 5px;
	margin-left: -3px;
}

.laser-hit {
	filter: blur(1px);
	--hit-radius: 6px;
	background-color: red;
	position: absolute;
}

.laser-hit-down {
	width: calc(var(--hit-radius) * 2);
	height: var(--hit-radius);
	border-radius: var(--hit-radius) var(--hit-radius) 0 0;
	bottom: 0;
	margin-left: calc(2.5px - var(--hit-radius))
}

.laser-hit-up {
	width: calc(var(--hit-radius) * 2);
	height: var(--hit-radius);
	border-radius: 0 0 var(--hit-radius) var(--hit-radius);
	top: 0;
	margin-left: calc(2.5px - var(--hit-radius))
}

.laser-hit-right {
	height: calc(var(--hit-radius) * 2);
	width: var(--hit-radius);
	border-radius: var(--hit-radius) 0 0 var(--hit-radius);
	right: 0;
	margin-top: calc(2.5px - var(--hit-radius))
}

.laser-hit-left {
	height: calc(var(--hit-radius) * 2);
	width: var(--hit-radius);
	border-radius: 0 var(--hit-radius) var(--hit-radius) 0;
	left: 0;
	margin-top: calc(2.5px - var(--hit-radius))
}

.grid .grid-item-wrapper {
	position: absolute;
}

.grid-item-wrapper {
	--grid-item-size: 29px;
	width: var(--grid-item-size);
	height: var(--grid-item-size);
}

.grid-item-wrapper.selected {
	border: 1px solid red;
	background-color: yellow;
}

.grid-item-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
}