.grid {
	position: relative;
	border: 1px solid black;
	border-radius: 3px;
}

.grid-line {
	background-color: black;
	position:absolute;
}

.grid-column {
	width:1px;
	height:100%;
}

.grid-row {
	height: 1px;
	width: 100%;
}