.grid-item {
	--child-margin: 4px;
	margin: var(--child-margin);
	border: 1px solid gray;
	border-radius: 5px;
	height: calc(100% - 2*var(--child-margin));
}

.grid-item-laser-emitter {
	background-color: orange;
}

.grid-item-mirror {
	background-color: lightgray;
}

.mirror {
	--height: 2px;
	height: var(--height);
	background-color: black;
	margin-top: calc(50% - var(--height)/2);
}

.mirror-positive {
	rotate: -45deg;
}

.mirror-negative {
	rotate: 45deg;
}

.grid-item-unpowered-item {
	position: relative;
	overflow: hidden;
}

.grid-item-unpowered-item .fill-amount {
	background-color: red;
	position:absolute;
	bottom: 0;
	width: 100%;
}

.grid-item-unpowered-item .grid-item {
	position: relative;
	margin: 0;
	height: 100%;

	scale: 0.5;
	border-width: 2px;
}

.grid-item-production-buff {
	background-color: lightblue;
}

.grid-item-production-buff .type {
	width: 50%;
	height: 50%;
	border-top-width: 2px;
	border-top-style: solid;
	border-left-width: 2px;
	border-left-style: solid;
	transform: rotate(45deg);
	margin-left: 25%;
	margin-top: 25%;
}

.grid-item-production-buff .type.red {
	border-color:red;
}

.grid-item-laser-distance-buff {
	position: relative;
}

.grid-item-laser-distance-buff div {
	width: 70%;
	margin-left: 15%;
	position: absolute;
}
.grid-item-laser-distance-buff .line {
	height: 10%;
	margin-top: 45%;
	background-color: black;
}

.grid-item-laser-distance-buff .distance {
	height: 40%;
	margin-top: 30%;
	border-left: 2px solid black;
	border-right: 2px solid black;
}