@using IdleFactory.Data.Energy
<div class="grid" style="width:@(EnergyGrid.Width* GridSize + 1)px;height:@(EnergyGrid.Height* GridSize + 1)px;" @onclick="SelectGrid">
	@for (var i = 1; i < EnergyGrid.Width; i++)
	{
		<div class="grid-line grid-column" style="left:@(i* GridSize - 1)px"/>
	}
	@for (var i = 1; i < EnergyGrid.Height; i++)
	{
		<div class="grid-line grid-row" style="top:@(i* GridSize - 1)px" />
	}
	@foreach (var item in EnergyGrid.Items)
	{
		<div class="grid-item-wrapper @(SelectedItem == item ? "selected" : "")" style="left:@(item.Position.X* GridSize)px;top:@(item.Position.Y* GridSize)px" @onclick="e => SelectGridItem(e, item)" @onclick:stopPropagation="true">
			<div class="grid-item @GetClassName(item)">
				@switch (item)
				{
					case Mirror mirror:
						@if (mirror.PositiveDirection)
						{
							<div class="mirror mirror-positive"/>
						}
						else
						{
							<div class="mirror mirror-negative" />
						}
						break;
				}
			</div>
		</div>
	}
	@foreach (var laser in EnergyGrid.CalculatedLaser)
	{
		@if (laser.Direction.X == 0)
		{
			<div class="laser laser-vertical" style="left:@(GetStartPositionX(laser) * GridSize)px; top:@(GetStartPositionY(laser) * GridSize)px; height:@(GetLength(laser) * GridSize)px">
				@if (laser.HitTargetDistance > 0)
				{
					<div class="laser-hit @(laser.Direction.Y > 0 ? "laser-hit-down" : "laser-hit-up")" />
				}
				<div class="laser-beam" />
			</div>
		}
		else
		{
			<div class="laser laser-horizontal" style="left:@(GetStartPositionX(laser) * GridSize)px; top:@(GetStartPositionY(laser) * GridSize)px; width:@(GetLength(laser) * GridSize)px">
				@if (laser.HitTargetDistance > 0)
				{
					<div class="laser-hit @(laser.Direction.X > 0 ? "laser-hit-right" : "laser-hit-left")" />
				}
				<div class="laser-beam" />
			</div>
		}
	}
</div>
