.grid {
	position: relative;
	border: 1px solid black;
	border-radius: 3px;
}

.grid-line {
	background-color: black;
	position:absolute;
}

.grid-column {
	width:1px;
	height:100%;
}

.grid-row {
	height: 1px;
	width: 100%;
}

.laser {
	background-color: red;
	position: absolute;
	filter: blur(2px);
}

.laser-horizontal {
	height: 5px;
}

.laser-vertical {
	width: 5px;
}